body {
  margin: auto;
  max-width: 1000px;
}

table tr, table th {
  width: 120px;
}

table td {
	width: 130px;	
}

#images {
	height: 130px;
}

table img {
  height: 120px;
  width: auto;
}

#links {
  padding: 20px;
} 

div.section {
  margin-bottom: 3em;
  background-color: pink;
  padding: 1em;
}

h2.section {
  margin: 1em 0;
  margin-top: 0;
  margin-bottom: 1em;
}

div.inner_section {
  line-height: 1.5em;
}
