body {
  margin: auto;
  max-width: 1000px;
}

table tr, table th {
  width: 120px;
}

table td {
	width: 130px;	
}

#images {
	height: 130px;
}

table img {
  height: 120px;
  width: auto;
}

#links {
  padding: 20px;
} 
